.card {
    width: 100%;
    flex: 1;
    margin-top: 10px;
}

.cover {
    object-fit: cover;
    height: 10vw;
    object-position: 0 0;
}

.episodeText
{
    font-size: 0.8em;
}

.cursorPointer
{
    cursor: pointer;
}